@page
@model WebApp.Pages.Solicitud.CreateModel
@{
}

<div class="container">
<form class="row g-3" method="post">
  <div class="col-md-6">
    <label for="cliente" class="form-label">Cliente</label>

      <select  name="IdCliente" id="cliente" class="form-select">
      <option selected disable>-- Seleccione --</option>
      @foreach (var cliente in Model.ListCliente)
    {
 
        <option value="@cliente.IdCliente" >@cliente.Nombre</option>
    }
    </select>

  </div>
  <div class="col-md-6">
    <label for="servicio" class="form-label">Servicio</label>

       <select  name="IdServicio"  id="servicio" class="form-select">
      <option selected disable>-- Seleccione --</option>
      @foreach (var servicio in Model.ListServicio)
    {
 
        <option value="@servicio.IdServicio" >@servicio.NombreServicio</option>
    }
    </select>

  </div>

  <div class="col-md-6">
    <label for="cantidad" class="form-label">Cantidad</label>
    <input name="Cantidad" type="text" class="form-control" id="cantidad">
  </div>
    <div class="col-md-6">
    <label for="monto" class="form-label">Monto</label>
    <input name="Monto" type="text" class="form-control" id="monto">
  </div>


      <div class="col-6">
   <label for="fecha" class="form-label">Fecha entrega</label>
    <input name="FechaEntrega" type="date" class="form-control" id="fecha">

  </div>
    <div class="col-md-6">
    <label for="usuario" class="form-label">Usuario Entrega</label>
    <input name="UsuarioEntrega" type="text" class="form-control" id="usuario">
  </div>

      <div class="col-md-12">
    <label for="observacion" class="form-label">Obervaciones</label>
  <textarea name="Observaciones"  class="form-control" id="exampleFormControlTextarea1" id="observacion" rows="3"></textarea>
  </div>

@*<div class="col-md-12">
    <label for="estado" class="form-label">Estado</label>
    <select name="Estado" id="estado" class="form-select">
      <option selected disable>-- Seleccione --</option>
      <option value=1>Activo</option>
        <option value=0>Inactivo</option>
    </select>
  </div>*@
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>

</div>