@page
@model WebApp.Pages.Institucion.EditModel
@{
}

<div class="container">
<form class="row g-3" method="post">
                  <input type="hidden" asp-for="institucionEntity.Id_Institucion" name="Id_Institucion" class="form-control" id="Id_Institucion">

  <div class="col-md-6">
    <label for="codigo" class="form-label">Codigo</label>
    <input asp-for="institucionEntity.Codigo" name="Codigo" type="text" class="form-control" id="codigo">
  </div>
  <div class="col-md-6">
    <label for="nombre" class="form-label">Nombre</label>
    <input  asp-for="institucionEntity.Nombre" name="Nombre" type="text" class="form-control" id="nombre">
  </div>

  <div class="col-12">
    <label for="telefono" class="form-label">Telefono</label>
    <input asp-for="institucionEntity.Telefono" name="Telefono" type="text" class="form-control" id="telefono">
  </div>
<div class="col-md-12">
    <label for="estado" class="form-label">Estado</label>
    <select asp-for="institucionEntity.Estado" name="Estado" id="estado" class="form-select">
      <option selected disable>-- Seleccione --</option>
      <option value=true>Activo</option>
        <option value=false>Inactivo</option>
    </select>
  </div>
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Editar</button>
  </div>
</form>

</div>